@import "../utilities/mixins";

$hero-body-padding: 3rem 1.5rem !default;
$hero-body-padding-tablet: 3rem 3rem !default;
$hero-body-padding-small: 1.5rem !default;
$hero-body-padding-medium: 9rem 4.5rem !default;
$hero-body-padding-large: 18rem 6rem !default;

$hero-colors: $colors !default;

// Main container
.hero{
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
  .navbar{
    background: none
  }
  .tabs
    ul{
      border-bottom: none
    }
 
.hero-buttons{
  margin-top: 1.5rem
}
  // Responsiveness

    .button{
      display: flex;
    }
  .tablet{
    display: flex;
    justify-content: center;
  }
// Containers

.hero-head,
.hero-foot{
  flex-grow: 0;
  flex-shrink: 0;
}
.hero-body{
  flex-grow: 1;
  flex-shrink: 0;
  padding: $hero-body-padding;
}